doctype html
html
    head
        title blog
        link(rel='stylesheet', type='text/css', href='http://meyerweb.com/eric/tools/css/reset/reset.css')
        style.
            h1 {
                font-size: 30px; font-weight: 900;            
            }
            h1, p {
                padding-top: 10px;
                text-align: center; 
            }
            .full { }
            .centered {
                width: 400px;
                margin: auto;
            }
            .left {
                width: 49%;
                float: left;
            }
            .right {
                width: 49%;
                float: right;
            }
            .posts .id {
                display: inline;
            }
            .posts form {
                padding-top: 0;
                display: inline;
                float: right;
            }
            .add_post input[type=submit], input[type=text] {
                width: 100%;
            }
            .add_post input[type=submit] {
                height: 2em;
            }
            .add_post textarea {
                display: block; width: 100%;
                resize: vertical;
                font-family: Arial; font-size: 15px;
            }
            input::placeholder, textarea::placeholder {
                font-family: Arial; font-size: 15px;
                color: #0c0c0c;
            }
            #titletext {
                height = 2em;
            }
    body
        each post in posts
            .posts.centered
                hr
                p.id= post._id
                form(action='/delete_post', method='GET')
                    input(type='hidden', name='id', value=post._id) 
                    input(type='submit', value='delete')
                h1.title= post.title
                p.body= post.body
        hr
        h1 Edit
        .add_post.centered
            form(action='/add_post', method='POST')
                input(type='text', name='title', value='', placeholder='new post title', required='required')
                textarea(name='body', rows='6', cols='30', placeholder='new post body', required='required')
                input(type='submit', value='add')
                hr

